<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G-able</title>
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap.css")">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap-table.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")">
    <script type="text/javascript">
        var base_path = "@Url.Content("~/")";
    </script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/Employee/Employee">หน้าผู้เบิก</a></li>
                    <li><a href="/Bill/Bill">หน้าเบิก</a></li>
                </ul>
            </div>
        </div>
    </div>
        <div class="container body-content">
            @RenderBody()
        </div>
        <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
        @*<script src="@Url.Content("~/Scripts/bootstrap-table.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrap-table-th-TH.js")"></script>*@
        @RenderSection("scripts", required: false)
</body>
</html>
